---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';

import Example1Pdf from '../assets/examples/Example-1.pdf';
import Example1Jpg from '../assets/examples/Example-1.jpg';
import GameTimePdf from '../assets/examples/GameTime.pdf';
import GameTimeJpg from '../assets/examples/GameTime.jpg';
import ArrowPdf from '../assets/examples/Arrow.pdf';
import ArrowJpg from '../assets/examples/Arrow.jpg';
import ThreeEaglesPdf from '../assets/examples/Three-Eagles.pdf';
import ThreeEaglesJpg from '../assets/examples/Three-Eagles.jpg';
import type { ImageMetadata } from 'astro';

type ExItem = {
  title: string;
  description: string;
  pdfFile: string;
  jpgFile: ImageMetadata;
}

const examples:ExItem[] = [
  {
    title: "First Eagle COH program",
    description: "This is the first Program I made and had a very basic, super clean front cover design. This leadership and advancement is a classic presentation used by previous Eagle Scouts from Troop 570.",
    pdfFile: Example1Pdf,
    jpgFile: Example1Jpg
  },
  {
    title: "The Ribbons Cover",
    description: "This program was the beginning of the Ribbons Cover (drawn by one of the Eagle Scouts) and new ways to show advancement and merit badges. Blank pages were replaced by scouting games like you would find on a children's menu at a restaurant.",
    pdfFile: GameTimePdf,
    jpgFile: GameTimeJpg
  },
  {
    title: "The Advancement Arrow is born",
    description: "I was shown an interesting chart showing progress toward a goal and created a graphic that gave us a new way to show Advancement through the ranks as well as Merit Badges earned that takes up less space and still looks amazing.",
    pdfFile: ArrowPdf,
    jpgFile: ArrowJpg
  },
  {
    title: "Three Eagles COH program",
    description: "I love this program because it shows the unique personalities and interests of each scout. Note that while one scout shows leadership and advancement, two other scouts skipped that section. Each scout wrote what they thought was important or memorable in their scouting career. One scout omitted the Eagle Project section because he wanted to write about other parts of his life.",
    pdfFile: ThreeEaglesPdf,
    jpgFile: ThreeEaglesJpg
  }
];
---

<Layout 
  title="Example Eagle Court of Honor Programs"
  description="These are some past Eagle Court of Honor programs for some Troop 570 Eagle Scouts"
>
  <main>
    <h2>Example Programs</h2>
  	<ul>
      {
        examples.map(item => (
          <li>
            <h4><a href={item.pdfFile}>{item.title}</a></h4>
            <div class="side-by-side">
              <div class="img-container">
                <a href={item.pdfFile}><Image src={item.jpgFile} alt=""/></a>
                Click photo to view PDF
              </div>
              <div class="description">{item.description}</div>
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style lang="scss">
  main {
    max-width: 60rem;
    margin: auto;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  .side-by-side {
    display:flex;
    gap: 0.5rem;
  }
  ul { 
    list-style: none;
    li {
      padding-bottom: 1rem;
      border-bottom: 1px solid gray;
      margin-bottom: 0.5rem;
    }
    .img-container {
      img {
        max-width: 10rem;
        max-height: 15rem;
        object-fit: contain;
      }
    }
    .description {
      font-size: 1.5rem;
    }

  }
</style>