---
const { title, description } = Astro.props;
import Links from '../components/Links.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
	</head>
	<body>
		<Links />
		<h1>{title}</h1>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0 1rem;
		font-family: "Roboto Flex", Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	h1 {
		text-align: center;
	}
</style>
